* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    font-family: Type;
    background-color: #1c1c1e;
}

:root {
    font-size: 12px;
}

h1 {
    font-size: 3.1rem;
    font-weight: 800;
}

h2 {
    font-size: 1.9rem;
}

h6 {
    font-weight: 300;
    text-transform: uppercase;
}

figcaption {
    font-size: 1.2rem;
    font-weight: 800;
}

a {
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin-right: auto;
}

li {
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
}

p {
    font-size: 1.2rem;
}

blockquote {
    font-size: 1.9rem;
    font-weight: 200;
}

cite {
    font-style: italic;
    font-size: 2rem;
    display: block;
}

figcaption {
    font-size: 1rem;
}

@font-face {
    font-family: Type;
    src: url(./Media/Fonts/Satoshi-Variable.ttf);
    font-display: block;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Loading Screen*/
#Loading-Screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #080808;
    color: #ffffff;
    pointer-events: none;
    z-index: 1000;
    opacity: 0;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 300px;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.loading-text {
    font-size: 2.2rem;
    align-self: center;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;
}

.loading-bar {
    position: relative;
    height: 2px;
    width: 0%;
    background-color: #ffffff;
    overflow: hidden;
}

/*-----Pagina General-----*/

.cursor {
    position: absolute;
    top: -10px;
    left: 0px;
    font-size: 30px;
}

/*Barra de Navegacion*/
.nav-bar {
    position: fixed;
    width: 100vw;
    height: 6vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #080808;
    z-index: 10;
    padding: 0em 2em;
}

.reloj {
    margin-top: 0;
    font-size: 1.4rem;

    -webkit-user-select: none;
    user-select: none;
}

.contanin {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    opacity: 0;
}

.backgroundZone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.backgroundContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.backgroundContent.t-1 {
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
}

.backgroundTitle {
    position: absolute;

    -webkit-user-select: none;
    user-select: none;

    text-align: center;
    font-size: 24rem;
    width: 100%;
    white-space: nowrap;
    animation: marquee 9s linear infinite;

    z-index: -1;
}

@keyframes marquee {
    0% {
        transform: translate(0%, 50%);
    }

    50% {
        transform: translate(-5%, 50%);
    }

    50.5% {
        transform: translate(-5%, 50%);
    }

    100% {
        transform: translate(0%, 50%);
    }
}

.imageZone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25vw;
    height: 75vh;
    z-index: 3;
}

.imageContainer {
    width: 100%;
    height: 65vh;
}

.image {
    position: absolute;
    width: 100%;
    height: 65vh;
    overflow: hidden;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0 100%);
}

.image#t-1 {
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
}

.t-1 {
    background-color: #836969;
}

.t-2 {
    background-color: #698383;
}

.t-3 {
    background-color: #796983;
}

.t-4 {
    background-color: #69836a;
}

.t-5 {
    background-color: #494949;
}

.image .contacto {
    background-color: #080808;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 0rem 2rem;
    overflow: hidden;
}

.socialLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 3rem;
    gap: 2rem;
    align-items: flex-start;
}

.contactLogo {
    font-size: 5rem;
    text-align: center;
    width: 100%;
}

.contactSocials {
    display: flex;
    flex-direction: column;
}

.contactSocials a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.info {
    padding: 1rem 0;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 1.5rem;
}


@media only screen and (max-width: 600px) {
    .cursor {
        top: -20px;
        left: -5px;
    }

    .contanin {
        display: grid;
        grid-template-rows: 7vh 1fr;
        grid-template-columns: 1fr;
    }

    .nav-bar {
        position: relative;
        grid-column: 1/2;
        grid-row: 1/2;
        height: 100%;
    }

    .imageZone {
        position: fixed;
        top: 0;
        left: 0;
        transform: translate(0%, 0%);
        width: 100%;
        height: 100%;
        min-height: 100vh;
        display: grid;
        grid-template-rows: 7vh 2rem 66% 2rem 10vh 2rem 8vh;
        grid-template-columns: 10vw 1fr 10vw;
    }

    .imageContainer {
        grid-column: 2/3;
        grid-row: 3/4;
        width: 100%;
        height: 100%;
    }

    .image {
        height: calc(100% - 25vh - 6rem);
        width: calc(100% - 20vw);
    }

    .image .contacto {
        grid-column: 2/3;
        grid-row: 3/4;
        width: 100%;
        height: 100%;
    }

    .info {
        grid-column: 2/3;
        grid-row: 5/6;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
        gap: 1rem;
    }

    .backgroundZone {
        min-height: 100vh;
    }

    .backgroundContent {
        display: grid;
        grid-template-rows: 7vh 1fr 8vh;
        grid-template-columns: 1fr;
    }

    .backgroundTitle {
        font-size: 3.5rem;
        animation: none;
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #t-5 {
        height: calc(100% - 15vh - 4rem);
    }

    .contactLogo {
        font-size: 3.2rem;
        text-align: center;
        width: 100%;
    }


}