* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    background-color: #1c1c1e;
    font-family: 'Satoshi-Variable';
}

:root {
    font-size: 12px;
}

@media (max-width: 5.5in) {
    :root {
        font-size: 11px;
    }
}

h1 {
    font-size: 3.1rem;
}

h2,
h3 {
    font-size: 1.9rem;
}

h6 {
    font-weight: 300;
}

figcaption {
    font-size: 1.2rem;
    font-weight: 800;
}

a {
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin-right: auto;
}

li {
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
}

p {
    font-size: 1.25rem;
}

blockquote {
    font-size: 1.9rem;
    font-weight: 200;
}

cite {
    font-style: italic;
    font-size: 2rem;
    display: block;
}

figcaption {
    font-size: 1rem;
}

@font-face {
    font-family: 'Satoshi-Variable';
    src: url(../Media/Fonts/Satoshi-Variable.ttf);
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Locomotive Scroll*/
/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
    overflow: hidden;
}

html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.has-scroll-smooth body {
    overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
    height: 100vh;
    display: inline-block;
    white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%;
}

/*Loading Screen*/
#loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 110dvh;
    background-color: #080808;
    color: #ffffff;
    pointer-events: none;
    z-index: 1000;
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Loader {
    position: relative;
    width: 50vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Loader */

.loaderImgContainer {
    width: 25vw;
    height: auto;
    z-index: 2;
}

.Image-Holder {
    position: relative;
    width: 100%;
    height: 65vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    display: flex;

}

.Image-Holder img {
    position: absolute;
    top: 0;
    left: -110%;
}

.loadingInfo {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.loadingText {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.counter p,
.loadingText p {
    font-size: 12rem;
    font-weight: 100;
    text-transform: uppercase;
    white-space: nowrap;
}

.counter p span,
.loadingText p span {
    position: relative;
    z-index: -2;
    color: #ffffff;
}

.loadingText p span {
    position: relative;
    top: 200px;
}

@media only screen and (max-width: 600px) {
    #loadingScreen {
        align-items: baseline;
    }

    .Loader {
        width: 86vh;
        height: 100dvh;
    }

    .loaderImgContainer {
        top: 43dvh;
        height: calc(100dvh - 14dvh - 20dvh);
        width: calc(100% - 14vw);
    }

    .Image-Holder {
        height: 100%;
        width: 100%;
    }

    .counter p {
        font-size: 11rem;
        text-align: center;
    }

    .loadingText p {
        font-size: 6.4rem;
    }
}

/*-----Pagina General-----*/

.cursor {
    position: absolute;
    top: -10px;
    left: 0px;
    font-size: 30px;
    z-index: 2;
    color: #1c1c1e;
}

/*Barra de Navegación*/
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    padding: 0em 2em;
}

.logo {
    font-size: 1.4rem;
    top: -10vh;
    opacity: 0;
    font-weight: 400;
    position: relative;
}

.reloj {
    margin-top: 0;
    font-size: 1.4rem;
    top: -10vh;
    opacity: 0;
    font-weight: 400;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
}

.indices {
    width: 25vw;
    height: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.25em;
}

.index {
    position: relative;
    width: 100%;
    height: 1px;
    background: #1c1c1e;
}

.index-highlight {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #fff;
    transform: scaleX(100%);
}


/* -------------------------------------------- */

.contain {
    width: 100vw;
    height: 100dvh;
    /* overflow: hidden; */
    opacity: 0;
    color: #1c1c1e;
    display: flex;

    justify-content: center;
    align-items: center;
}

.page-container {
    opacity: 0;
}

.backgroundZone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    cursor: none;
}

.clickZone {
    display: block;
    pointer-events: none;
}

.backgroundContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 133dvh;
}

.backgroundTitle span {
    position: relative;
    top: -30vw;
    opacity: 0;
}

.backgroundContent .t-1 {
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
}

/* .backgroundTitle{
    width: 100%;
    height: 100vh;
} */

.backgroundColor {
    position: absolute;

    -webkit-user-select: none;
    user-select: none;

    width: 100vw;
    height: 100vh;

    z-index: 1;
}

.backgroundTitle p,
.backgroundTitle span {
    animation: marquee 9s linear infinite;
    text-align: center;
    font-size: 24rem;
    font-weight: 100;
    text-transform: uppercase;
    white-space: nowrap;
}

@keyframes marquee {
    0% {
        transform: translate(0%, 50%);
    }

    50% {
        transform: translate(-5%, 50%);
    }

    50.5% {
        transform: translate(-5%, 50%);
    }

    100% {
        transform: translate(0%, 50%);
    }
}

.imageZone {
    position: absolute;
    /* top: 50dvh; */
    /* left: 50dvw; */
    /* transform: translate(-50%, -50%); */
    width: 25vw;
    height: 75vh;
    z-index: 3;
    /* overflow: hidden; Volverlos a cambiar si da errores*/
}

.story-img {
    width: 100%;
    height: 65vh;
    overflow: hidden;
}

.img {
    position: absolute;
    top: 11px;
    left: 0;
    width: 100%;
    height: 65vh;
    overflow: hidden;
}

.desc-name {
    position: relative;
    width: 100%;
    height: auto;
}

.desc-name p,
.desc-name a {
    color: #1c1c1e;
    font-size: 1.5rem;
}

.desc-name a {
    border-bottom: 1px solid;
    padding-bottom: .1em;
}

.desc {
    display: flex;
    flex-direction: column;
}

.t-1 {
    background-color: #ebd0ad;
    width: 100vw;
    height: 133dvh;
}

.t-2 {
    background-color: #cbdcf6;
    width: 100vw;
    height: 133dvh;
}

.t-3 {
    background-color: #c7cfbf;
    width: 100vw;
    height: 133dvh;
}

.t-4 {
    background-color: #c9a895;
    width: 100vw;
    height: 133dvh;
}

.t-5 {
    background-color: #ac8c8c;
    width: 100vw;
    height: 133dvh;
}

.t-6 {
    background-color: #8f8f8f;
    width: 100vw;
    height: 133dvh;
}

.image .contacto {
    background-color: #080808;
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 0rem 2rem;
    overflow: hidden;
}

.socialLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 3rem;
    gap: 2rem;
    align-items: flex-start;
}

.contactLogo {
    font-size: 5rem;
    text-align: center;
    width: 100%;
    font-weight: lighter;
}

.contactSocials {
    display: flex;
    flex-direction: column;
}

.contactSocials a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

.info {
    padding: 1rem 0;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

/* .info p {
    opacity: 0;
    position: relative;
    top: -10vh;
} */

.name {
    font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
    .cursor {
        top: -20px;
        left: -5px;
    }

    .contain {
        display: grid;
        grid-template-rows: 7dvh 3dvh 1fr 3dvh 8dvh;
        grid-template-columns: 1fr;
        height: 100dvh;
    }

    .nav-bar {
        position: relative;
        grid-column: 1/2;
        grid-row: 1/2;
        height: 100%;
        height: 7dvh;
    }

    .imageZone {
        position: fixed;
        top: 0;
        left: 0;
        transform: translate(0%, 0%);
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 7dvh 3dvh 1fr 3dvh 8dvh;
        grid-template-columns: 7vw 1fr 7vw;
        z-index: 2;
    }

    .indices {
        grid-column: 2/3;
        grid-row: 3/4;
        width: 100%;
    }

    .story-img {
        height: calc(100dvh - 14dvh - 20dvh);
        width: calc(100vw - 14vw);
        z-index: 1;
        grid-column: 2/3;
        grid-row: 3/4;
        overflow: hidden;
    }

    .img {
        grid-column: 2/3;
        grid-row: 3/4;
        height: calc(100dvh - 14dvh - 20dvh - 11px);
        width: calc(100vw - 14vw);
    }

    .imageContainer {
        grid-column: 2/3;
        grid-row: 3/4;
        width: 100%;
        height: 100%;
        z-index: 3;
    }

    .image {
        height: calc(100dvh - 14dvh - 20dvh);
        width: calc(100% - 14vw);
        z-index: 1;
    }

    .image .contacto {
        grid-column: 2/3;
        grid-row: 3/4;
        width: 100%;
        height: 100%;
    }

    .info {
        grid-column: 2/3;
        grid-row: 3/4;
        width: 100%;
        height: 100%;
        padding: 0;
        gap: 0;
        z-index: 2;
        overflow: hidden;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: calc(100dvh - 14dvh - 20dvh) .5rem 2rem .5rem 1fr;
    }

    .desc-name {
        grid-column: 1/2;
        grid-row: 3/4;
        padding: 0;
        gap: 0;
        justify-content: space-around;
    }

    .desc {
        grid-column: 1/2;
        grid-row: 5/6;
        padding: 0;
        gap: 0;
        justify-content: space-around;
    }

    .t-1,
    .t-2,
    .t-3,
    .t-4,
    .t-5,
    .t-6 {
        height: 120dvh;
        display: grid;
        grid-template-rows: 7dvh 3dvh 1fr 3dvh 8dvh 20dvh;
        grid-template-columns: 1fr;
    }

    .backgroundZone {
        height: 100dvh;
    }

    .backgroundTitle {
        grid-column: 1/2;
        grid-row: 5/6;
    }

    .backgroundTitle p,
    .backgroundTitle span {
        font-size: 3rem;
        animation: none;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image .contacto {
        padding: 0rem 2rem;
        justify-content: space-around;
    }

    .socialLinks {
        padding: 0;
        margin-bottom: 1rem;
    }

    .contactLogo {
        font-size: 2.6rem;
        font-weight: 100;
        text-align: center;
        width: 100%;
    }
}

/*-----Paginas Secundarias-----*/
.page-container {
    color: #ffffff;
}

.page-container .nav-bar {
    background-color: #1c1c1e;
}

#contain {
    padding-top: 10vh;
}

.contain-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    width: 100%;
    padding: 1em 0;
}

.gallery .gallery-item {
    height: 70vh;
}

.contain-section h1,
.contain-section h2,
.contain-section h3 {
    width: 100vw;
    text-align: center;
    padding: 0 2rem;
}

.gallery-item {
    width: calc(25vw - 6em);
    height: auto;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 35vh;
}

.gallery-item-2 {
    width: calc(50vw - 10em);
    height: auto;
    min-height: 35vh;
}

.gallery-item p,
.gallery-item-2 p {
    padding: 0 1rem;
}

.item-img {
    height: 100%;
    overflow: hidden;
}

.item-img img {
    height: 100%;
    transition: 0.35s ease-in-out all;
    transform: scale(1);
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.item-img:hover img {
    transform: scale(1.025);
}

.item-name {
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-modal {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 105dvh;
    background: #090909;
    display: flex;

    align-items: center;
    flex-direction: column;
    justify-content: center;

    padding: 6em 0;
    pointer-events: none;
    z-index: 11;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}

.img-modal .img-container {
    height: 66vh;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    padding: 1.5rem;
}

.img-modal .img-container img {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.modal-item {
    position: relative;
    width: max-content;
    height: max-content;
}

.modal-item p {
    position: relative;
    color: #fff;
    top: 4rem;
    opacity: 0;
}

.close-btn {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    #contain {
        padding-top: 3em;
    }

    .contain-section {
        flex-direction: column;
        align-items: center;
    }

    .gallery-item,
    .gallery-item-2 {
        width: calc(100% - 4rem);
    }

    .gallery-item p,
    .gallery-item-2 p {
        padding: 0 1em;
    }


    .img-modal {
        display: grid;
        grid-template-rows: 7dvh 3dvh 1fr 3dvh 8dvh;
        grid-template-columns: 7vw 1fr 7vw;
        padding: 0;
    }

    .img-modal .img-container {
        width: 100vw;
        height: 100%;
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: calc(100dvh - 14dvh - 20dvh) 1rem 1fr 1rem;
    }

    .img-modal .img-container img {
        width: 100%;
    }

    .img-name {
        width: 100vw;
        height: 100%;
        grid-column: 2/3;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: calc(100dvh - 14dvh - 20dvh) 1rem 1fr 1rem;
    }

    .copy {
        grid-column: 1/2;
        grid-row: 3/4;
        padding: 0;
        gap: 0;
        padding: 1.5rem;
        margin-top: 2rem;
        justify-content: space-around;
        text-align: justify;
    }

    .close-btn {
        grid-row: 4/6;
        grid-column: 2/3;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 100%;
        padding: .1rem;
    }

    .close-btn p {
        font-size: 1.4rem;
    }

    .resource {
        margin: 10px 0;
    }
}

/*-----Footer Area-----*/
.footer-section {
    width: 100%;
    background-color: #111111;
}

.footer-text {
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-text a {
    color: #ffffff;
}